.navbar__container{
background: chocolate;
}
.nav-item .dropdown{
    background: red;
}
.dropdown__title{
  background: #0095eb;
    display: flex;
    margin:0;
}
.icon{
    /* background: red; */
    display: flex;
    flex-direction: row;
    align-items:center ;

}
