@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
.App {
  text-align: center;
}
.header {
  position: fixed;
  width: 100%;
  height: 50px;
}
.body {
  padding-top: 52px;
  margin: 0;
  background:transparent;
  width: 100%;
  /* max-width: 1300px; */
  overflow-x: hidden;
}
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  /* border: 1px solid #73ad21; */
  z-index: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  display: table;
  margin: 0 auto;
  border: 1px solid blue;
}

.box {
  display: flex;
  width: 100%;
  flex: 0 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1rem #282c34;
  border-color: gold;
  /* background-color: cadetblue; */
}

.tarjetas {
  /* background-color: paleturquoise; */
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 0.375rem; */
  flex-shrink: 2;
  margin: 0;
}
.tarjetas-col {
  width: 45%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 0.375rem; */
  flex-shrink: 2;
}
.tarjetas-titulo {
  /* max-width: 20em; */
  /* display: inline-table; */
  width: 90%;
  font-weight: 1000;
  font-size: large;
  margin: 0.1rem;
  color: #40826d;
  /* max-width: max-content; */
}
.tarjetas-titulo-col {
  display: row;
  width: 40%;
  align-items: center;
  font-weight: 1000;
  margin: 0.5rem;
}
.tarjeta {
  /* border: 1px solid #ccc !important; */
  /* border-radius: 5px; */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: wrap;
  margin: 0.1rem;
  flex-shrink: 4;
  width: fit-content;
  flex-basis: 7rem;
}
.tarjeta-peque {
  /* border: 1px solid red !important; */
  display: inline-flex;
  flex-direction: row;
  /* max-width: fit-content; */
  flex-shrink: 3;
  /* border-radius: 15%; */
  width: fit-content;
  margin: 0.3rem;
  flex-wrap: wrap;
}
.tarjeta-big {
  /* border: 1px solid #ccc !important; */
  /* border-radius: 5%; */
  display: flex;
  margin: 0.2rem;
  height: fit-content;
  justify-content: left;
  align-content: center;
  flex-wrap: wrap;
  flex-shrink: 5;
}

.calendario {
  margin: 0.5rem;
  border-color: red;
}
.dato-cal {
  margin: 0.3rem;
}
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 40px;
  /* border: 2px solid #ccc; */
  z-index: 1;
}
.flotante {
  border: none;
  z-index: 2147483647;
  /* height: 650px;
  width: 350px; */
  display: block !important;
  /* visibility: visible; */
  background: none transparent;
  /* opacity: 1; */
  pointer-events: auto;
  touch-action: auto;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.boton {
  align-items: center;
  padding: 15px;
  border-color: #40826d;
  border-width: 10px;
  color: white;
  border-radius: 10%;
}
.fila {
  display: flex;
  flex-wrap: unset;
  margin-right: 0.2em;
  margin-left: 0.2em;
}
.cuadricula {
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  align-items: center;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  justify-content: center;
}
.cuadro {
  grid-column: span 1;
  width: 100%;
  justify-content: space-around;
  border: black;
}
.considebar {
  display: grid;
  /* align-items: center; */
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 100%;
  background-color: white;

  height: max-content;
  grid-template-columns: repeat(auto-fill, minmax(min-content, auto));
}
.sidebar {
  width: 90%;
  height: 90%;
  padding: 10px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.titulo {
  font-size: medium;
  font-weight: bold;
}
.contenido {
  width: 100%;
  height: 200px;
}

.icon {
  display: grid;
  grid-gap: 0.06em;
  /* grid-auto-flow: dense; */
  /* grid-auto-rows: 22rem; */
  grid-template-columns: repeat(auto-fill, minmax(1em, 1fr));
  align-items: center;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  white-space: nowrap;
}
.navbar{
  height: min-content;
  /* padding: 0.01rem; */
  /* margin: 0.01rem;   */
  display: inline-flex;
  align-items: center;
  background-color: white;
}
.navbar-expand-xl{
  height: min-content;
  background-color: white;
  /* padding: .0rem 1rem;   */
  display: inline-flex;
  align-items: flex-start;
  /* border-color: #0095eb solid ; */
}
.columnas {
  display: grid;
  max-width: max-content;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
}

@media screen and (min-width: 980px) {
  .navbar{
    /* height:min-content; */
    /* padding: .0rem 1rem;   */
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .col {
    flex: 1;
  }
  .col-30 {
    flex: 3;
  }
  .col-70 {
    flex: 7;
  }
}
.diagrama {
  width: 75%;
  /* align-items: center; */
  /* justify-content: center; */
  /* background-color: darkblue; */
  text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400);
form {
  padding: 5px;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: right;
  justify-content: right;
  flex-wrap: wrap;
  flex-shrink: 2;
}
form-group {
  display: flex;
  /* width: 50px; */
  background-color: white;
}
form label {
  color: #0095eb;
}
form input {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  color: #525c66;
  width: 6rem;
  height: 23px;
  box-sizing: border-box;
  color: #525c66;
  font-size: 0.9rem;
  resize: horizontal;
}
form select,
form textarea {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #525c66;
  font-size: 0.9rem;
  resize: horizontal;
  max-width: 100px;
}

form button {
  display: block;
  background-color: #0095eb;
  padding: 10px 45px 10px 45px;
  border: 0;
  font-size: 1em;
  color: white;
  font-family: "Roboto", sans-serif;
}
form button:hover {
  background-color: #046193;
}
textarea {
  resize: none;
}
.progreso {
  width: 100%;
  margin: 0.3rem;
}
/* Modal */
.modal {
  padding: auto;
}
.modal-header {
  background-color: #40826d;
  width: 100%;
  display: grid;
  place-content: center;
}
.modal-title {
  color: white;
  /* text-align: center; */
  justify-content: center;
}
.informacion {
  width: 100%;
  background-color: aliceblue;
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  border-radius: 2rem;
  /* grid-auto-flow: dense; */
}
.formulario {
  width: 100%;
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
.itemPrincipal {
  grid-column: span 1;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 100%;
  background-color: white;
  border-radius: 2rem;
  margin: 1px;
  padding: 0.5rem;
  justify-content: center;
}
.itemSecundario {
  grid-column: span 1;
  height: fit-content;
  background-color: white;
  border-radius: 2rem;
  margin: 0.1rem;
  padding: 0.4rem;
}
.itemLargo {
  grid-column: span 2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  background-color: white;
  border-radius: 2rem;
  margin: 1px;
  padding: 0.5rem;
  justify-content: center;
}
.itemTitulo {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemInfo {
  background-color: white;
  border-radius: 2rem;
  margin: 1px;
  padding: 0.5rem;
  justify-content: right;
  align-items: center;
}
.b {
  margin: 0;
  /* padding: auto; */
  font-size: bold;
  /* margin-right: 5px; */
  white-space: nowrap;
}

.entrada {
  padding: 5%;
  display: grid;
  gap: 2px;
  grid-template-rows: auto auto;
  margin: 0;
}
.entrada label {
  font-weight: bolder;
  grid-column: span 1;
  text-align: left;
}
.entrada input {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: right;
}

/* //cuando no es movil */
@media (min-width: 768px) {
  /*
  .my-modal-lg {
    width: 100%;
  }
  .my-modal-dialog {
    width: 100%;
    height: 100%;#44
    margin: 0;
    padding: 0;
  }
  .my-modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
  */
  .considebar {
    grid-template-columns: min-content auto;
  }
}
